h2= @container.name
h4= t('containers.description')
h5= @container.description

h5= render partial: "item", collection: @items

= link_to "edit", edit_container_path(@container)

= link_to "back", containers_path

= link_to "destroy", @container, :method => :delete, :data => { :confirm => 'Are you sure ?' }


