h3= t('items.title')


h3= t('items.title')
h3= @item.name
h5= t('items.quantity')
h3= @item.quantity


= link_to "edit", edit_item_path(@item)

= link_to "back", items_path

= link_to "destroy", @item, :method => :delete, :data => { :confirm => 'Are you sure ?' }


